APP_NAME=LME OCR Worker
APP_DEBUG=false
JWT_SECRET=usa_el_mismo_jwt_secret_de_wmsBack
INTERNAL_SERVICE_KEY=usa_una_llave_interna_compartida_opcional
AUTH_PUBLIC_PATHS=/health
CORS_ORIGINS=https://qa.appfastway.com,http://qa-market-product-pric.appfastway.com
CORS_ALLOW_METHODS=GET,POST,OPTIONS
CORS_ALLOW_HEADERS=Content-Type,Authorization,X-Internal-Service-Key
CORS_ALLOW_CREDENTIALS=false
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
TESSDATA_PREFIX=..\OCR\tessdata
MAX_UPLOAD_BYTES=10485760
